<h1 class='title'>Les Combattants de l'Arène</h1>

<div>
  <p>Voici les combattants de l'Arène triés par valeur totale :</p>
  <%= render 'shared/fighters_list' %>
</div>

<br><hr><br>

<div>
  <h3> Création de Combattant</h3>
  <p>Créez <%= link_to "ici", new_fighter_path %> votre combattant</p>
</div>

