// Specific CSS for your home-page

.title {
  color: $blue;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: solid;
}

.presentation {
  color: $gray;
  text-align: start;
  margin: 40px;
  padding: 10px;
  font-size: 1.2rem;
}

.menu {
  color: $gray;
  text-align: center;
  margin: 40px;
  padding: 10px;
  font-size: 1.2rem;
}
